/* Colors ============== */
$white: #fafafa;
$gradientRose: linear-gradient(
  39deg,
  rgba(89, 49, 199, 0.774) 4.73%,
  rgba(207, 131, 255, 0.794) 100.81%
);
$gradientGreen: linear-gradient(
  39deg,
  rgba(89, 49, 199, 0.774) 4.73%,
  rgba(60, 236, 104, 0.794) 100.81%
);
$gradientRed: linear-gradient(
  39deg,
  rgba(89, 49, 199, 0.774) 4.73%,
  rgba(232, 63, 91, 0.794) 100.81%
);
$gradientBlue: linear-gradient(
  39deg,
  rgba(89, 49, 199, 0.774) 4.73%,
  rgba(68, 191, 240, 0.794) 100.81%
);
$gradientButtonGreen: linear-gradient(
  18deg,
  rgba(102, 34, 195, 0.6133651551312649) 0%,
  rgba(73, 236, 228, 0.597) 68%,
  rgba(45, 253, 159, 0.9212410501193318) 100%
);
$boxShadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
$fontDefault: "Poppins", sans-serif;
