/* Form ============== */
#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
  font-size: 2rem;
  color: white;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group .help {
  color: white;
  opacity: 0.7;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}
