/* Header ============== */
header {
  background: $gradientRose;
  text-align: center;
  padding: 2rem 0 36rem;
  box-shadow: $boxShadow;
  border-radius: 5rem 5rem 5rem 0;
  width: 96%;
  max-width: 1440px;
  margin: 1.2rem auto;
}

#logo {
  width: 80%;
  max-width: 500px;
}
