/* Global ============== */
:root {
  --color-purple: #661ab2;
  --color-blue-dark: #363f5f;
  --color-green-dark: #224a2e;
  --color-green-light: #49aa26;
  --color-red-light: #e83f5b;
  --color-gray-medium: #969cb3;
  --color-dark: #36383a;
  --color-white: #fff;
  --gradient-rose: linear-gradient(
    39deg,
    rgba(89, 49, 199, 0.774) 4.73%,
    rgba(207, 131, 255, 0.794) 100.81%
  );
  --gradient-green: linear-gradient(
    39deg,
    rgba(89, 49, 199, 0.774) 4.73%,
    rgba(60, 236, 104, 0.794) 100.81%
  );
  --gradient-red: linear-gradient(
    39deg,
    rgba(89, 49, 199, 0.774) 4.73%,
    rgba(232, 63, 91, 0.794) 100.81%
  );
  --gradient-blue: linear-gradient(
    39deg,
    rgba(89, 49, 199, 0.774) 4.73%,
    rgba(68, 191, 240, 0.794) 100.81%
  );
  --gradient-button-green: linear-gradient(
    18deg,
    rgba(102, 34, 195, 0.6133651551312649) 0%,
    rgba(73, 236, 228, 0.597) 68%,
    rgba(45, 253, 159, 0.9212410501193318) 100%
  );

  --box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
  --font-default: "Poppins", sans-serif;
}

html {
  font-size: 93.75%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-dark);
  font-family: "Poppins", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(88vw, 900px);
  margin: 0 auto;
}

/* Titles ============== */
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--color-blue-dark);

  font-weight: normal;
}

/* Links & Buttons ============= */
a {
  color: var(--color-white);
  text-decoration: none;
}

button {
  border: none;
  border-radius: 1.8rem;
  background: var(--gradient-button-green);
  font-size: 1.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  padding: 1rem 1.8rem;
  margin: auto;
  color: white;
  opacity: 0.7;
  transition: all 260ms ease-in-out;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

a.button {
  border-radius: 1.8rem;
  background: var(--gradient-rose);
  font-size: 1.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  padding: 0.8rem 1.8rem;
  margin: auto;
}

.button.new {
  background: var(--gradient-button-green);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.8rem;
  opacity: 1;
}

.button.new:hover {
  opacity: 0.7;
}

.button.cancel {
  color: white;
  transition: all 260ms ease-in-out;
  background: var(--gradient-red);
  opacity: 0.7;
}

.button.cancel:hover {
  opacity: 1;
}

/* Header ============== */
header {
  background: var(--gradient-rose);
  text-align: center;
  padding: 2rem 0 36rem;
  box-shadow: var(--box-shadow);
  border-radius: 5rem 5rem 5rem 0;
  margin: 1.2rem;
}

#logo {
  width: min(80%, 500px);
}

/* Balance ============== */
#balance {
  width: 90%;
  margin: -34rem auto 0;
}

#balance h2 {
  color: var(--color-white);
  margin-top: 0;
}

/* Cards ============= */
.card {
  background: var(--gradient-blue);
  padding: 1.5rem 2rem;
  border-radius: 2rem 2rem 2rem 0;
  margin-bottom: 2rem;
  color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.card h3 {
  font-weight: normal;
  font-style: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card.green {
  background: var(--gradient-green);
}

.card.red {
  background: var(--gradient-red);
}

/* Table ============= */
#transaction {
  display: block;
  overflow-x: auto;
}

#dataTable {
  width: 100%;
  border-spacing: 0 0.8rem;
  color: var(--color-white);
  background: var(--gradient-blue);
  padding: 0.8rem;
  border-radius: 4rem 4rem 4rem 0;
}

table thead th {
  font-weight: normal;
  font-size: 1.36rem;
}

table thead th,
table tbody td {
  padding: 1rem 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
}

table thead th:first-child,
table tbody td:first-child {
  border-radius: 2rem 0 0 2rem;
}

table thead th:last-child,
table tbody td:last-child {
  border-radius: 0 2rem 2rem 0;
}

table tr {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

table tbody tr {
  opacity: 1;
}

table tbody tr td:last-child {
  cursor: pointer;
  transition: all 260ms ease-in-out;
}

table tbody tr td:last-child:hover {
  opacity: 0.6;
}

thead tr {
  background: var(--gradient-blue);
}

tr.income {
  background: var(--gradient-green);
}

tr.expense {
  background: var(--gradient-red);
}

/* Modal ============== */
.modal-overlay {
  width: 100%;
  height: 100%;

  background: rgba(32, 32, 32, 0.92);

  position: fixed;
  z-index: 999;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
  transition: transform 320ms ease-in-out, opacity 600ms ease-in-out,
    visibility 600ms ease-in-out;
}

.modal-overlay.active {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}

.modal {
  background: var(--gradient-blue);
  padding: 2.4rem;
  border-radius: 4rem 4rem 4rem 0;
  box-shadow: var(--box-shadow);
}

/* Form ============== */
#form {
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
  font-size: 2rem;
  color: white;
}

input {
  border: none;
  border-radius: 1rem;

  padding: 0.8rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  width: 100%;
  font-family: var(--font-default);
  color: white;
}

input::placeholder {
  color: white;
  opacity: 0.6;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group .help {
  color: white;
  opacity: 0.7;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}

/* ParticleJs ============== */
#particlesJs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -2;
}

/* Footer ============== */
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--color-white);
  opacity: 0.6;
}

/* Responsive ============== */
@media (min-width: 800px) {
  html {
    font-size: 87.7%;
  }

  header {
    padding-bottom: 14rem;
  }

  #balance {
    margin: -12rem 0 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
